<!DOCTYPE html>
<html>
<head>
<style>
body, html {
	height: 100%;
}
</style>

<%= javascript_include_tag "bootstrap.min" %>
<%= stylesheet_link_tag "welcome_styles.css" %>
<%= stylesheet_link_tag "bootstrap.min" %>

</head>
<body>


<div class="title">Macro and Cheese</div>
<div class="parallax parallax-1"></div>
<div class="main_content">
<h1>About Macro and Cheese</h1>
<p>Macro and Cheese is a guild that focuses on PVP, primarily on the Haderus campaign.</p>
<h3>Regular Group Members</h3>
<div class="row" style="text-align: center;">
  <div class="col-md-3 templars plList">
    <h2>Templars</h2>
    <div class="row">
      <div class="col-md-3" style="text-decoration: underline">Account Name</div>
      <div class="col-md-3" style="text-decoration: underline">Main Toon</div>
      <div class="col-md-3" style="text-decoration: underline">Current Rank</div>
      <div class="col-md-3" style="text-decoration: underline">Role</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Alpharahl</div>
      <div class="col-md-3">Wolfram</div>
      <div class="col-md-3">Colonel</div>
      <div class="col-md-3">DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Qetral</div>
      <div class="col-md-3">Vivioline Jesnne</div>
      <div class="col-md-3">Praetorian</div>
      <div class="col-md-3">Healer</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Xexpo</div>
      <div class="col-md-3">Kiki Dickson</div>
      <div class="col-md-3">August Palatine</div>
      <div class="col-md-3">DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Mewie</div>
      <div class="col-md-3">Yshela Brinn</div>
      <div class="col-md-3">Major</div>
      <div class="col-md-3">Healer/DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Scrambler43</div>
      <div class="col-md-3">Grassman/div>
      <div class="col-md-3">Brigadier</div>
      <div class="col-md-3">DPS/Support</div>
    </div>
  </div>
  <div class="col-md-3 nightblades plList">
    <h2>Nightblades</h2>
    <div class="row">
      <div class="col-md-3" style="text-decoration: underline">Account Name</div>
      <div class="col-md-3" style="text-decoration: underline">Main Toon</div>
      <div class="col-md-3" style="text-decoration: underline">Current Rank</div>
      <div class="col-md-3" style="text-decoration: underline">Role</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Captred</div>
      <div class="col-md-3">Keeos Deathchaser</div>
      <div class="col-md-3">Praetorian</div>
      <div class="col-md-3">DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Aeoline</div>
      <div class="col-md-3">Insecurity</div>
      <div class="col-md-3">Centurion</div>
      <div class="col-md-3">DPS</div>
    </div>
  </div>
  <div class="col-md-3 sorcerers plList">
    <h2>Sorcerers</h2>
    <div class="row">
      <div class="col-md-3" style="text-decoration: underline">Account Name</div>
      <div class="col-md-3" style="text-decoration: underline">Main Toon</div>
      <div class="col-md-3" style="text-decoration: underline">Current Rank</div>
      <div class="col-md-3" style="text-decoration: underline">Role</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Damask88</div>
      <div class="col-md-3">Katya Kazanovaa</div>
      <div class="col-md-3">Palatine</div>
      <div class="col-md-3">DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Spuddlethud</div>
      <div class="col-md-3">Crenarren</div>
      <div class="col-md-3">Prefect</div>
      <div class="col-md-3">DPS</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Philthyorc</div>
      <div class="col-md-3">Dagoth Ur Face</div>
      <div class="col-md-3">Palatine</div>
      <div class="col-md-3">Tank/DPS</div>
    </div>	  
  </div>
  <div class="col-md-3 dragonknights plList">
    <h2>Dragonknights</h2>
    <div class="row">
      <div class="col-md-3" style="text-decoration: underline">Account Name</div>
      <div class="col-md-3" style="text-decoration: underline">Main Toon</div>
      <div class="col-md-3" style="text-decoration: underline">Current Rank</div>
      <div class="col-md-3" style="text-decoration: underline">Role</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Hrothgar77</div>
      <div class="col-md-3">Ein Bierbitte</div>
      <div class="col-md-3">Centuarion</div>
      <div class="col-md-3">Tank/Support</div>
    </div>
    <div class="row">
      <div class="col-md-3">@Rakno87</div>
      <div class="col-md-3">Sardul Singh</div>
      <div class="col-md-3">Colonel</div>
      <div class="col-md-3">Tank/DPS</div>
    </div>
  </div>
</div>
</div>
<div class="main_content">
<h1>Recruitment</h1>
Our recruitment policy:
<p>New members enter the guild as a recruit rank "FNG". New recuits will maintain that title for 1 month, then assuming everything goes well, they will be granted membership. We will have a limit of 2 people at a time in the "FNG" rank so that we have a controlled growth. Our guild works primarily off of the relationships we've built with each other, and throwing too many people at once can cause too much of a disturbance.</p>
<h3>How to apply?</h3>
Contact @alpharahl in game
</div>
<div class="main_content">
<h1>PVP Content</h1>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mLbKIoX1Q0w" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    Before the Macro and Cheese guild members assembled for PvP Night, a few of us got on early to pick a fight.
  </div>
</div>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/crmIBzLory4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    The Macro and Cheese Guild went deep into enemy territory and took over King's Crest.
  </div>
</div>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/feR6a-wZItI" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    The Macro and Cheese Guild not only captured Chalman, we defended it against a massive army of bananas.
  </div>
</div>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b3AtncauBWk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    Six MaC guild members take on the bosses, Ebonheart Pact, and Aldmeri Dominion in Imperial City. Here are the highlights!
  </div>
</div>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rqLUxyAIomg" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    Ten MaC guild members take on 14 Ebonhearth Pact, when the EP had the element of suprpise!
  </div>
</div>
<div class="row">
  <div class="col-md-5" style="text-align:center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pYn91k2zkn8" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-7">
    One of the earliest MaC battles.  Alessia bridge.  47 minutes of epic 3 faction fighting!
  </div>
</div>
</div>


</body>
</html>

