<!DOCTYPE html>
<html>
<head>
<style>
body, html {
	height: 100%;
}
</style>

<%= stylesheet_link_tag "welcome/home" %>

</head>
<body style="min-height: 100%">


<div class="title">Macro and Cheese</div>
<div class="parallax parallax-1">
  <div class="quote-location">
    <B>
      <p>
        No Structure<br>
        No Order<br>
        No Accountability<br>
        ...<br>
        Just Community
      </p>
    </B>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <h2>About Us</h2>
      <img class="img-circle" src="../about_us.jpg" alt="About us"/>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <h2>Roster</h2>
      <a href="<%= request.base_url + '/users/roster'%>">
        <img class="img-circle" src="../about_us.jpg" alt="Roster"/>
      </a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="parallax parallax-2"></div>
</body>
</html>

